In [16]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import json
import tweepy
import time
import csv
import seaborn as sns
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer

In [17]:
filenames = ["flightdata_jan16.csv","flightdata_feb16.csv","flightdata_mar16.csv"]

In [18]:
combined_csv = pd.concat( [ pd.read_csv(f) for f in filenames ] )

In [19]:
combined_csv.to_csv( "combined_csv.csv", index=False )

In [20]:
combined_csv.dtypes

YEAR                       int64
MONTH                      int64
DAY_OF_MONTH               int64
DAY_OF_WEEK                int64
FL_DATE                   object
UNIQUE_CARRIER            object
AIRLINE_ID                 int64
CARRIER                   object
FL_NUM                     int64
ORIGIN_AIRPORT_ID          int64
ORIGIN_AIRPORT_SEQ_ID      int64
ORIGIN                    object
ORIGIN_CITY_NAME          object
ORIGIN_STATE_ABR          object
DEST_AIRPORT_ID            int64
DEST_AIRPORT_SEQ_ID        int64
DEST                      object
DEST_CITY_NAME            object
DEST_STATE_ABR            object
CRS_DEP_TIME               int64
DEP_TIME                 float64
DEP_DELAY_NEW            float64
DEP_DEL15                float64
TAXI_OUT                 float64
WHEELS_OFF               float64
WHEELS_ON                float64
TAXI_IN                  float64
CRS_ARR_TIME               int64
ARR_TIME                 float64
ARR_DELAY_NEW            float64
ARR_DEL15                float64
CANCELLED                float64
CANCELLATION_CODE         object
DIVERTED                 float64
AIR_TIME                 float64
FLIGHTS                  float64
DISTANCE                 float64
CARRIER_DELAY            float64
WEATHER_DELAY            float64
NAS_DELAY                float64
SECURITY_DELAY           float64
LATE_AIRCRAFT_DELAY      float64
DIV_AIRPORT_LANDINGS       int64
DIV_REACHED_DEST         float64
DIV_ARR_DELAY            float64
Unnamed: 45              float64
dtype: object

In [21]:
combined_csv.head()

,YEAR,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,UNIQUE_CARRIER,AIRLINE_ID,CARRIER,FL_NUM,ORIGIN_AIRPORT_ID,...,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,DIV_AIRPORT_LANDINGS,DIV_REACHED_DEST,DIV_ARR_DELAY,Unnamed: 45
0,2016,1,1,5,2016-01-01,DL,19790,DL,1248,11433,...,1979.0,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
1,2016,1,1,5,2016-01-01,DL,19790,DL,1251,10397,...,640.0,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
2,2016,1,1,5,2016-01-01,DL,19790,DL,1254,12892,...,1947.0,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
3,2016,1,1,5,2016-01-01,DL,19790,DL,1255,14869,...,1590.0,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
4,2016,1,1,5,2016-01-01,DL,19790,DL,1256,10849,...,874.0,72.0,0.0,52.0,0.0,0.0,0,NaN,NaN,NaN

In [24]:
combined_csv .drop(['Unnamed: 45', 'WHEELS_OFF','TAXI_OUT', 'WHEELS_ON', 'TAXI_IN','ORIGIN_AIRPORT_SEQ_ID','DEST_AIRPORT_SEQ_ID'], axis=1, inplace=True)

In [25]:
combined_csv.count()

YEAR                    1348838
MONTH                   1348838
DAY_OF_MONTH            1348838
DAY_OF_WEEK             1348838
FL_DATE                 1348838
UNIQUE_CARRIER          1348838
AIRLINE_ID              1348838
CARRIER                 1348838
FL_NUM                  1348838
ORIGIN_AIRPORT_ID       1348838
ORIGIN                  1348838
ORIGIN_CITY_NAME        1348838
ORIGIN_STATE_ABR        1348838
DEST_AIRPORT_ID         1348838
DEST                    1348838
DEST_CITY_NAME          1348838
DEST_STATE_ABR          1348838
CRS_DEP_TIME            1348838
DEP_TIME                1326275
DEP_DELAY_NEW           1326275
DEP_DEL15               1326275
CRS_ARR_TIME            1348838
ARR_TIME                1324903
ARR_DELAY_NEW           1322681
ARR_DEL15               1322681
CANCELLED               1348838
CANCELLATION_CODE         23221
DIVERTED                1348838
AIR_TIME                1322681
FLIGHTS                 1348838
DISTANCE                1348838
CARRIER_DELAY            215131
WEATHER_DELAY            215131
NAS_DELAY                215131
SECURITY_DELAY           215131
LATE_AIRCRAFT_DELAY      215131
DIV_AIRPORT_LANDINGS    1348838
DIV_REACHED_DEST           2936
DIV_ARR_DELAY              2222
dtype: int64

In [34]:
#Filter out multi-stop flight trips
combined_csv = combined_csv.loc[combined_csv["FLIGHTS"]==1 ,:]

In [35]:
#Seperate out state from Origin and Destination City
combined_csv['ORIGIN_CITY_NAME']=combined_csv['ORIGIN_CITY_NAME'].apply(lambda x: x.split(',')[0])
combined_csv['DEST_CITY_NAME']=combined_csv['DEST_CITY_NAME'].apply(lambda x: x.split(',')[0])

In [36]:
combined_csv.to_csv( "janmar16.csv", index=False )